
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/Common_Studentlayout.cshtml";
}
@using E_education.Models
@model Registration_Master

<!-- AOS CSS -->
<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet" />

<style>
    .err {
        color: red;
    }

    .span {
        font-size: 10px;
    }

    .body {
        background-color: rgb(107, 107, 107);
    }

    .btn:hover {
        box-shadow: 10px 10px 10px blue;
    }
</style>

<body style="background:  linear-gradient(to right, aqua, whitesmoke); min-height: 100vh;">
    <div class="hero-section" data-aos="zoom-in" data-aos-duration="1000">
        <div style="margin-top:40px; text-align: center; padding: 80px 20px; color: #fff; background: linear-gradient(135deg, #1a73e8, #0f4c75); border-radius: 10px; margin-bottom: 40px;">
            <h1 style="font-size: 40px; font-weight: bold; font-family:'Times New Roman', Times, serif;">Welcome Student Profile Pannel</h1>
            <h2><span id="typed"></span></h2>
            <p style="font-size: 18px; margin-top: 10px; font-family:'Times New Roman', Times, serif; font-size:18px;">This section is your profile section easily update your profile here thank you!</p>
        </div>
    </div>

    <div class="row p-4" id="main" data-aos="fade-up" data-aos-duration="1000">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h1 class="text-dark text-center fw-bold" style="font-family:'Times New Roman', Times, serif">My Profile</h1>
            <p class="fw-bold fs-3 mt-2 text-danger">@ViewBag.RMessage</p>
            <form action="/Student/Myprofile" method="post" enctype="multipart/form-data" class="p-4" style="opacity: 0.7; border: 2px solid black; border-radius: 20px; background-color: rgb(66, 65, 65);">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 text-center">
                        <img src="~/content/pic/@Model.pic_Upload" style="height:80px;width:80px;border-radius:50%;border:2px solid black; " />
                        <input type="file" name="Pic_Upload" value="@Model.pic_Upload" class="form-control" />
                    </div>
                    <div class="col-sm-4"></div>
                </div>

                <div class="row mt-3">
                    <div class="col-sm-6">
                        <input type="text" id="sname" placeholder="Enter name" value="@Model.Name" name="Name" class="form-control" />
                    </div>
                    <div class="col-sm-6">
                        @{
                            if (Model.Gender == "Male")
                            {
                                <span class="form-control" id="sgen">
                                    gender:&ensp;<input type="radio" checked value="Male" id="male" name="Gender" />Male&ensp;&ensp;
                                    <input type="radio" value="Female" id="female" name="Gender" />Female
                                </span>
                            }
                            else
                            {
                                <span class="form-control" id="sgen">
                                    gender:&ensp;<input type="radio" value="Male" id="male" name="Gender" />Male&ensp;&ensp;
                                    <input type="radio" checked value="Female" id="female" name="Gender" />Female
                                </span>
                            }
                        }
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-sm-6">
                        <input type="text" value="@Model.College" placeholder="Enter college" id="scollege" name="college" class="form-control" />
                    </div>
                    <div class="col-sm-6">
                        <input type="hidden" id="semail" value="@Model.Email_id" name="Email_Id" placeholder="Enter Email" class="form-control" />
                        <span class="form-control">@Model.Email_id</span>
                        <span></span>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-sm-6">
                        <select id="year" name="Year" class="form-control">
                            <option value=" ">choose year</option>
                            <option value="First">First</option>
                            <option value="Second">Second</option>
                            <option value="Third">Third</option>
                            <option value="Fourth">Fourth</option>
                        </select>
                    </div>
                    <div class=" col-sm-6">
                        <select id="course" name="Course" class="form-control">
                            <option value=" ">choose Course</option>
                            <option value="Btech">BTECH</option>
                            <option value="Mtech">MTECH</option>
                            <option value="Bca">BCA</option>
                            <option value="Mca">MCA</option>
                        </select>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-sm-6">
                        <input type="number" id="smob" value="@Model.Mobile_No" placeholder="Enter mobile number" name="Mobile_No" class="form-control" />
                    </div>
                    <div class="col-sm-6">
                        <input type="date" id="dob" value="@Model.DOB" placeholder="Enter Date Of Birth" class="form-control" name="DOB" />
                    </div>
                </div>

                <div class=" row mt-3">
                    <div class="col-sm-6">
                        <input type="hidden" name="Registered_On" value="@Model.Registered_on" />
                        <span class="form-control">@Model.Registered_on</span>
                    </div>
                    <div class="col-sm-6">
                        <textarea name="Address" id="sadd" placeholder="Enter adddress" class=" form-control" style="resize:none">@Model.Address"</textarea>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                        <input type="submit" id="sub" value="Update Profile" class=" btn form-control bg-primary" />
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <!-- AOS JS -->
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init();

        $(document).ready(function () {
            var year = $("#year").val("@Model.Year");
            var course = $("#course").val("@Model.Course");
        });
    </script>
</body>